{% extends 'solicitudMonitoriaJefeSeccionBundle::mainJefeSeccion.html.twig' %}
{% block contenido %}
	<h2>Bienvenido {{jefeSeccion.nombre}}</h2>
    <div class="fila impar">Aquí podrás administrar las monitorias que ofrece la sección de {{nombreSeccion}} del Departamento de Electrónica.</div>
{% endblock %}
