{% extends 'solicitudMonitoriaEstudianteBundle::mainEstudiante.html.twig' %}
{% block contenido %}
	<h2>Bienvenido {{estudiante.nombre}}</h2>
    <div class="fila impar">Aquí podrás solicitar las monitorias que ofrece el Departamento de Ingeniería Electrónica.</div>
{% endblock %}
