body, html{margin:0;padding:0;background:#eee;color:#333;}
h1, h2 {padding: 0 20px;margin:0 0 20px 0;border-bottom:1px solid #eee;color:#222;}
h3{padding: 0px 20px 0 40px;margin:0 0 20px 0;border-bottom:1px solid #eee;color:#222;}

.logo{margin:0 auto 10px auto;display:block;}
#pagina{width:900px;margin:20px auto;background:#fff;border-radius:6px;padding:20px;clear:both;font-size:20px;font-family: "Times New Roman"}

#top {height:120px}

#bottom {}

#menu  {margin: 0 0 15px 0;padding: 10px 10px ;background:#d0d0d0;}
item {padding:10px 6px;}
item:hover{background:#e0e0e0;}

.mitablalogin {width:50%}
input.login {width:300px;border:0;background:#eeeeee;font-size:16px;padding:9px 5px;}
td.llogin {width:200px;padding: 10px 10px;}

.mitabla {}
tr {display:block;background:#eeeeee; }
tr.par {background:#fafafa;}
tr.rst{display:block;background:#dddddd;padding:7px 0px;}

td.rst {width:200px;padding:0 2px 2px 3px; }
td.sec {padding:0 0px 0px 7px; }
td.sec1 {width:400px;padding:10px 2px 10px 7px; }

td.idc{width:80px;vertical-align:middle;padding:7px 5px;}
td.nomc {width:240px;vertical-align:middle;padding:7px 5px;}
td.calificacion {width:125px;vertical-align:middle;padding:7px 5px;}
td.horas{width:70px;vertical-align:middle;padding:7px 5px;}
td.cantidad {width:100px;vertical-align:middle;padding:7px 5px; }
select.cantidad {font-size:16px;padding:7px 5px;border:0;background:#fafafa}
td.nodispo {width:100%;vertical-align:middle; }

select {width:auto;font-size:16px;padding:7px 5px;border:0;background:#fafafa}
select:hover {background:#dddddd}


input{width:610px;border:0;background:#fafafa;font-size:16px;padding:9px 5px;}
input:hover{background:#dddddd}
input:focus {background:#dddddd}
input.par {background:#eeeeee;}
input.par:hover {background:#dddddd;}
input.par:focus {background:#dddddd;}

input.c {width:30px;border:0;background:#fafafa;font-size:16px;padding:9px 5px;}
input.c:hover {background:#dddddd;}
input.c:focus {background:#dddddd;}


tr.final {background:#ffffff;padding:8px 0px 0 0;} 
button {font-size:20px;padding:8px 20px;font-family: "Times New Roman";}


#contenido{padding: 0 0 0 0;float:center;}
#contenido .fila{display:block;padding:10px 20px;background:#eeeeee;}
#contenido .fila.par{background:#fafafa;}
/*#contenido .fila:hover{background:#e0e0e0;}*/

a{color:#333;text-decoration:none;}

.cfix{*zoom: 1;}
.cfix:before,.cfix:after{display:table;content: "";}
.cfix:after{clear: both;}